.popup__button-close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: initial;
    background-image: url(../../../images/close.png);
    background-size: contain;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    transition-duration: .3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.5;
}

