.table__button-sort {
    background-image: url(../../../images/sort.png);
    height: 16px;
    width: 16px;
    border: none;
    background-size: cover;
    background-color: initial;
    cursor: pointer;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.table__button-sort:hover {
    opacity: 0.5;
}